*{
  box-sizing: border-box;
}
#navbar{
  min-width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: ivory;
  border-right: 2px solid black;
  text-align: center;
}

#main-doc{
  position: relative;
  left: 270px;
  
  top: 0px;
  padding: 10px;
  max-width: 70vw;
  min-width: 250px;

}
.nav-link{
  display: block;
  text-decoration: none;
  color: indigo;
}
.code-block{
  display: flex;
  width: fit-content;
  background-color: lightcyan;
  border: 2px solid lightgray;
  padding: 4px;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
 
  body{
    font-size: 16px;
    padding: 10px;  
  }
  #navbar{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    background-color: rgb(248, 185, 103);
  }
  #navbar header{
    display: block;
    width: 100%;
  }
  #navbar .nav-container{ 
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #main-doc{
  position: relative;
  width: 100%;
  margin-top: 15vw;
 left: 0px;
 right: 0px;
  
}
.code-block{
  display: flex;
  width: fit-content;
  background-color: lightcyan;
  border: 2px solid lightgray;
  padding: 4px;
  border-radius: 5px;
}
.nav-link{
  font-size: 11px;
  text-decoration: none;
  color: indigo;
  margin: 5px;
}
h1{
  font-size: 15px;
  margin:0;
}

}