
#navbar{
  min-width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: ivory;
  border-right: 2px solid black;
  text-align: center;
}

#main-doc{
  position: relative;
  left: 270px;
  
  top: 0px;
  padding: 10px;
  max-width: 70vw;
  min-width: 250px;

}
.nav-link{
  display: block;
  text-decoration: none;
  color: indigo;
}
.code-block{
  display: flex;
  width: fit-content;
  background-color: lightcyan;
  border: 2px solid lightgray;
  padding: 4px;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  body{
    font-size: 20px;
  }
  #navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 30vw;
    flex-wrap: wrap;
    height: 100%;
  }
  #main-doc{
  position: relative;
  left: 38vw;
  top: 0px;
  padding: 10px;
  width: 50vw;
  min-width: 30vw;
}
.code-block{
  display: flex;
  width: fit-content;
  background-color: lightcyan;
  border: 2px solid lightgray;
  padding: 4px;
  border-radius: 5px;
}
h1{
  font-size: 2rem;

}

}